<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>blog dot cloud and tree dot com - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <script data-goatcounter="https://ezrast.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <div id="main">
      <header>
        The personal blog of Ezra Stevens &mdash; <%= link_to_unless_current('Home', '/') %>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
